<h2 class="cart-title">Carrinho</h2>
<div *ngIf="produtosCarrinho.length > 0; else semProdutos">
    <ul>
        <li *ngFor="let produto of produtosCarrinho">
            <img [src]="produto.imagem" />
            <p>{{ produto.descricao }}</p>
            <p>Preço: {{ produto.preco | currency:"BRL" }}</p>
            <label>
                Quantidade:
                <input [(ngModel)]="produto.quantidade" type="number" (change)="calcularTotal()" />
            </label>
            <button class="remove-button" (click)="removerProduto(produto.id)">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </li>
    </ul>
    <h2 class="cart-total">Total: {{ total | currency: "BRL" }}</h2>
    <button class="buy-button" (click)="comprar()">Comprar</button>
</div>
<ng-template #semProdutos>Nenhum produto adicionado ao carrinho</ng-template>